
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(/TasteTrekkers/Iamges/pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    gap: 20px;
    margin: 60px;
    width: 35%;
    height: fit-content;
}

.contact input, .message{
    height: 30px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    border: none;
    width: 100%;
   
}

.contact_name{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


button{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: .5s ease-in-out;

}

button:hover{
    background-color: white;
    color: black;
}

@media (max-width:768px) {
    h1{
        margin-bottom: 40px;
    }
    .contact 
    {
        width: 80%;
        margin: 0;        
    }
 
    .contact .message{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}