 *{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(Iamges/pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.register_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: white;
    gap: 20px;    
} 

input{
    border-radius: 10px;
    padding: 10px 16px;
    width: 270px;
}

button{
    width: 270px;
    border-radius: 10px;
    padding: 10px 16px;
}   

.icon-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

img{
    height: 40px;

}

